.container{
    display: flex;
    flex-direction: column;
    width:45vw;
    gap:1vh;
}

.userInputLine{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1vh;
    
}

.userInputLabel {
    width: 20%;
    padding-right: 2vw;
    text-align: right;
}

.inputItem {
    width: 60%;
    height: 3vh;
    padding: 0.5vh;
}

.spanText {
    color: red;
    font-size: 0.8em;
    margin-left: 1vw;
}

.select {
    width: 60%;
    height: 3vh;
}

.submit {
    width: 20%;
    margin: 2vh auto;
}

/*TODO modify this code for smaller screen sizes